body * {
    box-sizing: border-box;
}

.container{
	margin-top: 100px;
	width: 800px;
  	height: 500px;
  	margin-left: auto;
  	margin-right: auto;
}

.top{ height: 200px; } /* comment this line u'll see what it fixes */

.top-box{
	width: 50%;
	height: 200px;
	font-size: 0;
}
.bottom-box{
	width: calc(100%/3);
	height: 300px;
}
.box{ 
	border: 1px solid black;
	display: inline-block;
}
.green{ background: green; }
.blue{ background-color: blue; }
.grey{ background-color: grey; }
.black{ background-color: black; }
.yellow{ background-color: yellow; }